### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
total_players = purchase_data["SN"].value_counts().count()
total_players_df = pd.DataFrame({"Total Players" : [total_players]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_values = purchase_data["Item Name"].value_counts().count()
total_revenue = purchase_data["Price"].sum()
total_purchases = purchase_data["Purchase ID"].count()
avg_purchase = (purchase_data["Price"].sum())/(purchase_data["Purchase ID"].count()) 
purchasing_analysis_df = pd.DataFrame([[unique_values, total_revenue, total_purchases, avg_purchase]],
                                      columns=["Number of Unique Items", "Total Revenue", "Total Purchases", "Average Purchase"])                                

purchasing_analysis_df.style.format({'Average Purchase':"${:,.2f}",
                                    'Total Revenue': "${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
groupby_gender = purchase_data.groupby("Gender")
total_gender = groupby_gender.nunique()["SN"]
percentage_gender = (total_gender / total_players)*100
gender_demographics_df = pd.DataFrame({"Percentage of Players": percentage_gender, 
                                      "Total Count": total_gender})
gender_demographics_df.sort_values(["Total Count"], ascending=False).style.format({"Percentage of Players":"{:.2f}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
purchase_count_gender = groupby_gender["Purchase ID"].count()
avg_purchase_price = groupby_gender["Price"].mean()
purchase_total = groupby_gender["Price"].sum()
avg_purchase_total_person = purchase_total / total_gender 

gender_purchasing_df = pd.DataFrame({"Purchase Count": purchase_count_gender,
                                    "Purchase Price": avg_purchase_price, 
                                    "Total Purchase Value": purchase_total,
                                    "Average Purchase Total per Person": avg_purchase_total_person})

gender_purchasing_df.style.format({"Purchase Price":"${:,.2f}",
                                  "Total Purchase Value":"${:,.2f}",
                                  "Average Purchase Total per Person": "${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
age_bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 1000]
names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins, labels=names)

age_grouped = purchase_data.groupby("Age Group")

age_total_count = age_grouped["SN"].nunique()

age_percentage = (age_total_count / total_players)*100

age_demographics_df = pd.DataFrame({"Total Count": age_total_count,
                                    "Percentage of Players": age_percentage})
age_demographics_df.style.format({"Percentage of Players":"{:.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
age_purchase_count = age_grouped["Purchase ID"].count()
age_avg_purchase_price = age_grouped["Price"].mean()
age_purchase_total = age_grouped["Price"].sum()
avg_purchase_total_person = age_purchase_total / age_total_count

age_purchasing_df = pd.DataFrame({"Purchase Count": age_purchase_count,
                                 "Average Purchase Price": age_avg_purchase_price,
                                 "Total Purchase Value": age_purchase_total,
                                 "Average Purchase Total per Person": avg_purchase_total_person})
age_purchasing_df.style.format({"Average Purchase Price":"${:,.2f}", 
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person": "${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
spenders_grouped_sn = purchase_data.groupby(["SN"])
spenders_purchase_count = spenders_grouped_sn["Purchase ID"].count()
spenders_avg_purchase_price = spenders_grouped_sn["Price"].mean()
spenders_total_purchase_value = spenders_grouped_sn["Price"].sum()

top_spenders_df = pd.DataFrame({"Purchase Count" : spenders_purchase_count,
                                "Average Purchase Cost" : spenders_avg_purchase_price,
                               "Total Purchase Value": spenders_total_purchase_value})

top_spenders_formatted = top_spenders_df.sort_values(["Total Purchase Value"], ascending = False).head()

top_spenders_formatted.style.format({"Average Purchase Cost":"${:,.2f}",
                                    "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [12]:
items = purchase_data[["Item ID", "Item Name", "Price"]]
items_grouped = items.groupby(["Item ID", "Item Name"])
item_purchase_count = items_grouped["Price"].count()
item_total_value = items_grouped["Price"].sum()
item_price = item_total_value / item_purchase_count

popular_items_df = pd.DataFrame({"Purchase Count": item_purchase_count,
                                "Item Price": item_price,
                                "Total Purchase Value": item_total_value})

popular_items_formatted = popular_items_df.sort_values(["Purchase Count"], ascending = False).head()

popular_items_formatted.style.format({"Item Price":"${:,.2f}",
                              "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [17]:
most_profitable_items = popular_items_df.sort_values(["Total Purchase Value"], ascending = False).head()

most_profitable_items.style.format({"Item Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}"})